/* markdown tables */
table {
    border:#ccc 1px solid;
    border-radius:3px;
    border-collapse: separate;
}
table th {
    padding:21px 25px 22px 25px;
    border:1px solid #e0e0e0;
    border-bottom:1px solid #808080;
}
table tr {
    padding-left:20px;
}
table td {
    padding:18px;
/*     border-top: 1px solid #ffffff; */
     border:1px solid #e0e0e0;
}

/* markdown code */

code {
    font-size: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 0.6em;
}

.container {
    width: 80%;
}

ul, ol {
    padding-left: 40px;
    margin-bottom: 12px;
}

.highlight {
    margin-bottom: 12px;
    padding-top: 12px;
    padding-left: 12px;
}